.title-about{
    font-size: 30px;
    text-align: center;
}

p{
    justify-content: center;
    word-spacing: normal;
}

.about-btn{
    display: flex;
    justify-content: center;
}

.about-btn #connecter{
    margin-left: 10px;
}

/* New CSS 13/02/2023 */

.col-portfeuille1{
    border-right: 25px dotted grey!important;
}

@media (max-width : 576px){
    .ifapay{
        flex-direction: column-reverse;
    }
}
