<<<<<<< HEAD
.bg-ifa {
    background: transparent linear-gradient(237deg, #FF007F 0%, #FFA502 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 4%;
}

.liste li {
    font-size: 18px;
    text-align: justify;
    color: #444341;
}

.title {
    font-size: 40px;
    font: normal normal normal;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1
}

.business-title-h5{
    color :#FF1E69;
    font: normal normal bold ;
}

#paragraphe{
    font-size: 18px;
    text-align: justify;
    color: #444341;
}

#bg-business{
    background: #F5F3F1 0% 0% no-repeat padding-box;
opacity: 1;
}

#btn-partners{
    background: transparent linear-gradient(253deg, #FF1E69 0%, #FFA502 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    color: #F5F3F1;
    border-color: white;
    padding: 1%;
=======
.bg-ifa{
    background-color: #000;
    padding: 4%;
}

.liste li{
    font-family: 'Work Sans';
    font-size: 18px;
    text-align: justify;
}

.title{
    font-size: 40px;
>>>>>>> c99f764dcd9076bf6e5e488726d6ce9fa01ef095
}